@media (max-width: 700px){
    *{
        font-size: 0.9em;
    }
    #header{
        font-size: 3em;
        z-index:5;
        box-shadow: 0 3px 10px 1px var(--sidebar-sec);
    }

    #header h1{
        border-bottom: solid gray 1px;
        margin-bottom: 5px;
    }
    #sidebar{
        width: 200px;
        margin-left: -60%;
        height: 100vh;
        transition: all 0.2s ease-in-out;
        z-index: 100;
    }
    #sidebar-header{
        font-size:2em;
    }
    #sidebar.expand{
        margin-left: 0;
        transition: all 0.2s linear;
    }
    iframe{
        height: 100vh;
        margin:0;
        position: absolute;
    }
    .card{
        width: 80%;
        margin: 5% auto;
    }
    #expand-btn{
        font-size: 0.6em;
        display: inline-block;
        outline: none;
        color: whitesmoke;
        background: none;
        border: solid white 1px;
        margin-bottom: 5px;
        margin-right: 80%;
        border-radius: 2px;
    }
}

