:root{
    --main-bg-color: linear-gradient(to right, #ff416c, #ff4b2b);
    --sidebar-primary: linear-gradient(to right, #232526, #414345);
    --sidebar-sec: #787276;
}

body{
    margin: 0;
    font-family: 'Handlee',cursive;
    
}

iframe {
    float: right;
    width:100%;
    margin-left:250px;
    border: none;
    background-image: var(--main-bg-color);
}

#header{
    background-image: var(--sidebar-primary);
    text-shadow: 4px 4px  black;
    font-size: 20px;
    position: sticky;
    padding: 2px;
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    top:0;
}


#sidebar{
    height: 100vh;
    width: 40%;
    max-width: 250px;
    background-image: var(--sidebar-primary);
    border-right: solid snow 1px;
    position: fixed;
}

#sidebar ul{
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    color: whitesmoke;
}

#sidebar ul li{
    height:30px;
    padding-top: 5px;
    border-bottom: solid gray 1px;
}

#sidebar ul li a{
     text-decoration: none;
     width: 100%;
     height: 100%;
     display: block;
     color: whitesmoke;
     font-size: 18px;
     padding-left: 20px;
     
}

#sidebar ul li:hover, .active {
    background-color: var(--sidebar-sec);
}

#sidebar-header{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 4px 4px black;
    background-color: #787276;
    width: 100%;
    margin:0 0 15px 0;
    padding: 15px 0;
    
}



.wrapper{
    display: flex;
    align-items: stretch;
    height: 100vh;
}

.card{
    width: 60%;
    border: solid lightgray 1px;
    box-shadow: 2px 2px 5px gray;
    padding:15px 30px;
    margin: auto;
    text-align: justify;
    border-radius: 5px;
    font-family: 'Handlee',cursive;
    background-color: white;
}


