:root{
    --main-bg-color: linear-gradient(to right, #ff416c, #ff4b2b);
    --sidebar-primary: #232323;
    --sidebar-sec: #ff416c;
}

body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

iframe {
    float: right;
    width:100%;
    border: none;
    background-image: var(--main-bg-color);
}

#header{
    height: 10%;
    background-color: var(--sidebar-primary);
}

hr{
    margin:0;
    color: whitesmoke;
}

#header h1{
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 40px;
    color: whitesmoke;
}

#sidebar{
    height: 100vh;
    width: 40%;
    max-width: 250px;
    background-color: var(--sidebar-primary);
}

#sidebar ul{
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

#sidebar ul li{
    height:30px;
    padding-top: 5px;
}

#sidebar ul li a{
     text-decoration: none;
     width: 100%;
     height: 100%;
     display: block;
     color: whitesmoke;
     font-size: 18px;
     padding-left: 20px;
     
}

#sidebar ul li:hover, .active {
    color: var(--sidebar-primary);
    background-color: var(--sidebar-sec);
}



.wrapper{
    display: flex;
    align-items: stretch;
}


